li
  list-style-type none

.main
  margin-bottom .98rem
  background-color #5F52A0

.footer
  position fixed
  margin-left 0 auto
  bottom 0rem
  width 100%
  height .98rem
  background-color #fff
  a
    margin 0 auto
    float left
    width 25%
    opacity .9
    text-align center
    display block
    line-height .98rem
    font-size .3rem
    padding 0 auto

.footer a:link,
.footer a:visited
  font-weight bold
  color #626262
  background-color #fff
  text-decoration none
  text-transform uppercase

.footer a:hover,
.footer a:active
  background-color #fff
  color #000

.ip-item-list
  position relative
  background-size cover
  width 6.68rem
  height 8.24rem
  margin-bottom .6rem
  margin-left .4rem
  margin-right: .4rem
  overflow hidden
  .ip-title
    margin-top 1.05rem
    margin-left .44rem
    color #fff
    font-size .7rem
  .ip-content
    margin-left .44rem
    color #fff
    font-size .3rem
  .ip-price
    color #fff
    font-size .2rem
  .ip-type
    color #fff
    font-size .2rem
  .bottom
    position absolute
    bottom .4rem
    left .44rem
  .ip-open
    background-color white
    position absolute
    color #000
    font-size .3rem
    bottom .4rem
    right .4rem
    width 1.8rem
    height .7rem
    text-align center
    vertical-align middle
    border-radius .35rem

.top-bar
  height 1.06rem
  overflow hidden
  background-color #5F52A0
  margin 0 .41rem 0 .41rem
  a
    float left
    width 50%
    opacity .9
    text-align center
    display block
    line-height 1.06rem
    font-size .3rem
  a:link,
  a:visited
    align-content space-between
    text-decoration none
    text-transform uppercase
  a:hover,
  a:active
    background-color: #fff
    color #000

.top-bar a:link,
.top-bar a:visited
  font-weight bold
  color #626262
  background-color #fff
  text-decoration none
  text-transform uppercase

.top-bar a:hover,
.top-bar a:active
  background-color #fff
  color #000
