li
  list-style-type none

.main
  margin-bottom .98rem

.footer
  position fixed
  margin-left 0 auto
  bottom 0rem
  width 100%
  height .98rem
  background-color #fff
  a
    margin 0 auto
    float left
    width 25%
    opacity .9
    text-align center
    display block
    line-height .98rem
    font-size .3rem
    padding 0 auto

.footer a:link,
.footer a:visited
  font-weight bold
  color #626262
  background-color #fff
  text-decoration none
  text-transform uppercase

.footer a:hover,
.footer a:active
  background-color #fff
  color #000

.game-item-list
  position relative
  background-size cover
  width 6.68rem
  height 8.24rem
  margin-bottom .6rem
  margin-left .4rem
  margin-right: .4rem
  overflow hidden
  .game-title
    margin-top 1.05rem
    margin-left .44rem
    color #fff
    font-size .7rem
  .game-content
    margin-left .44rem
    color #fff
    font-size .3rem
  .game-price
    color #fff
    font-size .2rem
  .game-type
    color #fff
    font-size .2rem
  .bottom
    position absolute
    bottom .4rem
    left .44rem
  .game-open
    background-color white
    position absolute
    color #000
    font-size .3rem
    bottom .4rem
    right .4rem
    width 1.8rem
    height .7rem
    text-align center
    vertical-align middle
    border-radius .35rem
