$green-color: #0fae6f;
$grey-color: #878787;
$top-border:.01rem solid #f4f4f4;
$word-color:#111;
$main-color: #0f58d6;
$default-color: #111;
$grey-color: #878787;
$grey-bg: #f6f6f6;
$red: #eb202a;

[v-cloak] {
  display: none;
}
.main{
  width: 7.5rem;
  margin: 0 auto;
  overflow: hidden;
}
.pad-bottom{
  padding-bottom: 1.1rem;
}
.hr-bg{
  height: .15rem;
  width: 100%;
  background-color: #f4f4f4;
}
.scroller-box{
  -webkit-overflow-scrolling: touch;
}

/****************************科室会列表**********************************/
.btn-colours{
  &.colours-video{
    width:.71rem;
    height: .36rem;
    background: url('../../assets/img/home/video.png') no-repeat left center;
    background-size: .71rem;
  }
  &.colours-voice{
    width:.71rem;
    height: .36rem;
    background: url('../../assets/img/home/audio.png') no-repeat left center;
    background-size: .71rem;
  }
  &.colours-text{
    width:.71rem;
    height: .36rem;
    background: url('../../assets/img/home/txt.jpg') no-repeat left center;
    background-size: .71rem;
  }
}
.module{
  width: 7.5rem;
  height: 3.85rem;
  .module-tit{
    width: 7.5rem;
    height: .3rem;
    text-align: center;
    font-size: .3rem;
    font-weight: bold;
    line-height: .3rem;
    margin: .38rem 0 .27rem;
    p{
      font-weight: bold;
    }
    i{
      display: block;
      width: .05rem;
      height: .3rem;
      margin-right: .14rem;
      background: -webkit-linear-gradient(0deg, #ff3d4b, #ff694b);
    }
  }
  .module-info{
    width: 7.5rem;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y:hidden;
    .module-info-in{
      height: 2.26rem;
      padding-left: .4rem;
    }
    .info-box{
      width: 3.2rem;
      height: 2.26rem;
      margin-right: .3rem;
      .img-box{
        position: relative;
        width: 3.2rem;
        height: 1.66rem;
        background-color: #888;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: .02rem solid #f5f5f5;
        border-radius: .1rem;
        img{
          width: 3.2rem;
          height: 1.66rem;
        }
        em{
          width: .7rem;
          height: .36rem;
          position: absolute;
          bottom:.1rem;
          right: .11rem;
          text-align: center;
          color: #fff;
          font-size: .2rem;
          font-weight: bold;
          font-style:italic;
          line-height: .36rem;
        }
      }
      p.msg{
        font-size: .26rem;
        color: $word-color;
        width: 3.2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: .2rem;
      }
      p.p-look{
        background: url('../../assets/img/inco-look.png') no-repeat left center;
        background-size: .28rem;
        color: #ccc;
        font-size: .22rem;
        padding-left: .35rem;
        margin-top: .10rem;
      }
    }
    .info-more{
      width: 1.71rem;
      height: 1.7rem;
      background: url('../../assets/img/home/more.png') no-repeat left center;
      background-size: 1.71rem;
      padding-right: .4rem;

    }
  }
  .all-look{
    display: block;
    height: .85rem;
    line-height: .85rem;
    text-align: center;
    color: $green-color;
    border-top: $top-border;
  }
}

/****************************导   航************************************/
.nav{
  box-shadow:0px -.05rem .05rem rgba(0,0,0,.1);
  -webkit-box-shadow:0px -.05rem .05rem rgba(0,0,0,.1);
  background-color: #fff;
  overflow: hidden;
  width: 7.5rem;
  position: fixed;
  bottom:0;
  left: 50%;
  margin-left: -3.75rem;
  z-index: 99;
  li{
    float: left;
    width: 50%;
    height: 1rem;
    a{
      display: block;
      width: 100%;
      height: 1rem;
    }
  }
  li:nth-child(1){
    background: url('../../assets/img/nav01-1.png') no-repeat center center;
    background-size: .6rem;
  }
  li:nth-child(2){
    background: url('../../assets/img/nav02-1.png') no-repeat center center;
    background-size: .45rem;
  }
  li:nth-child(1).on{
    background: url('../../assets/img/nav01.png') no-repeat center center;
    background-size: .6rem;
  }
  li:nth-child(2).on{
    background: url('../../assets/img/nav02.png') no-repeat center center;
    background-size: .45rem;
  }
}
/*****************************弹出框************************************/
.pop-box{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
  .pop-info{
    background-color: #fff;
    padding: .4rem;
    width: 5.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    .info{
      color: #111;
      font-size: .28rem;
      text-align: center;
      padding: .9rem 0;
    }
    .btn{
      .button{
        width: 2rem;
        height: .6rem;
        line-height: .6rem;
        display: inline-block;
        text-align: center;
        border-radius: .3rem;
        font-size: .26rem;
      }
      .cancel{
        background-color: #f4f4f4;
        color: #878787;
        margin-left: .4rem;
      }
      .confirm{
        background-color: $green-color;
        color: #fff;
        margin-left: .7rem;
      }
    }
  }
}
/******************************lebel切换*********************************/
.label{
  display: flex;
  li{
    flex: 1;
    font-size: .26rem;
    height: .95rem;
    padding-bottom: .01rem;
    span{
      display:block;
      background-color: #fff;
      height: .94rem;
      line-height: .94rem;
      text-align: center;
      font-weight: bold;
      color: #878787;
    }
  }
  li.on{
    background: linear-gradient(90deg,#1ab276,#0d84c2);
    span{
      color: $green-color;
    }
  }
}

/****************************内容下架页面*******************************/
.putaway{
  .logo{
    //background: url('../../assets/img/logo.png') no-repeat center center;
    //background-size: 2.3rem;
    width: 2.3rem;
    height: .53rem;
    position: absolute;
    top: .6rem;
    left: .6rem;
  }
  .noinfo{
    width: 7.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    p{
      text-align: center;
      font-size: .38rem;
      color: #111;
      font-weight: bold;
      &:nth-child(2){
        margin-top: .4rem;
      }
      img{
        width: 1.9rem;
        height: 1.96rem;
      }
    }
  }
}

.BScroll-loader{
  text-align: center;
  padding: .4rem .4rem 2rem .4rem;
  color: $grey-color;
}