* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: "微软雅黑";
    width: 6.4rem;
    margin: 0 auto;
    padding: 0;
    font-size: .24rem;
    color: #4f4f4f;
    background: #f3f3f3;
    word-break: break-all;
    word-wrap: break-word;
}

ul, li {
    list-style-type: none;
}

ul {
    position: absolute;
    bottom: 0;
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

li {
    float: left;
    width: calc(25% - .02rem);
    height: 98px;
    background-color: #fff;
    opacity: .9;
}

.line {
    width: .02rem;
    background-color: #000;
    height: .23rem;
    background-color: #CACACA;
    margin: 0 auto;
    border-top: .38rem;
    border-bottom: .38px;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: #fff;
}

a:link,
a:visited {
    display: block;
    font-weight: bold;
    color: #626262;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .3rem;
    padding: .37rem;
}

a:hover,
a:active {
    background-color: #fff;
    color: #000;
}

.body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: #F7CC45;
}

.main {
    padding: 0;
    width: 100%;
    background-color: #fff;
    overflow: auto;
    margin-bottom: .98rem;
}

.footer {
    position: fixed;
    position: absolute;
    margin-left: 0 auto;
    bottom: 0rem;
    width: 100%;
    height: .98rem;
    background-color: #000;
}

.item-list {
    /*margin: 0 auto;*/
    position: relative;
    background-size: cover;
    top: 2rem;
    width: 6.68rem;
    /*height: 8.24rem;*/
    width: calc(100% - .8rem);
    margin-bottom: .6rem;
    margin-left: .4rem;
    margin-right: .4rem;
}

.title {
    color: #fff;
    position: absolute;
    font-size: .7rem;
    /*line-height: 1.1rem;*/
    width: 2.8rem;
    top: 1.1rem;
    left: .4rem;
}

.content {
    color: #fff;
    position: absolute;
    font-size: .3rem;
    top: 2.4rem;
    left: .4rem;
    width: 2.8rem;
}

.price {
    color: #fff;
    position: absolute;
    font-size: .2rem;
    bottom: .7rem;
    left: .4rem;
}

.gameType {
    color: #fff;
    position: absolute;
    font-size: .2rem;
    bottom: .4rem;
    left: .4rem;
}

button.open {
    background-color: white;
    position: absolute;
    color: #000;
    font-size: .3rem;
    bottom: .4rem;
    right: .4rem;
    width: 1.8rem;
    height: .7rem;
    text-align: center;
    vertical-align: middle;
    border-radius: .35rem;
}
